.outers_box_search{
	.inner_middle{
		.tops_title{
			h3{
				margin: 0;
				font-size: 24px;
				font-weight: 700;
				color: #000;
			}
		}
	}

	.box_form{
		form{
			.form-group{
				input,
				select{
					border: 0px;
					box-shadow: none;
					outline: none;
					padding: 1.2rem 1rem;
					height: auto;
				}
				select{
					width: 100%;
				}
			}
			.input-group-addon{
				background-color: transparent;
				border: 0px;
				i.fa{
					font-size: 17px;
				}
			}
			clear: both;
			margin: 0;
			padding: 0.9rem 1.5rem;
			background-color: #fff;
			width: 100%;
			border: 1px solid #000;
			.col-md-3{
				border-left: 1px solid #cccccc;
			}
		}
		max-width: 902px;
		margin: 0 auto;
		clear: both;
	}

	.info_bt{
		p{
			display: block;
			margin: 0;
			font-size: 14px;
			font-weight: 500;
			color: #000;
		}
	}

	text-align: center;
	background-color: #e6e6e6;
	padding: 3rem 0.5rem;
	min-height: 50px;
	height: auto; width: 100%;
	clear: both;
}


.outers_content_wrap.pg_home{
	.tops_filter_block_category{
		.inner_block{
			ul{
				margin: 0; margin-bottom: 0;
				li{
					a{
						color: #fff;
						font-size: 14px;
						font-weight: 500;
					}
				}
				li:hover,
				li:focus,
				li.active{
					a{
						text-decoration: none;
						border-bottom: 2px solid #fff;
					}
				}
			}
		}
		background-color: #000;
		padding: 2rem 0;
	}
	background-color: #fff;
	clear: both;
}

.lists_det_fotog{
	ul{
		margin: 0;
		li{
			padding: 0px;
			img{}
		}
	}
}

.blocks_blog_home{
	.inners_blog{
		padding-top: 3rem;
		h3{
			font-size: 23px;
			font-weight: 700;
			color: #000;
		}
		.lists_blog_def{
			.items{
				.picture{
					img{}
				}
				.info{
					padding: 1rem 1.2rem 0;
					h5{
						font-size: 17px;
						font-weight: 500; color: #000;
						margin-bottom: 1.5rem;
					}
					p{
						font-size: 14px;
						font-weight: 300;
						color: #000;
						line-height: 1.3;
					}
				}
				clear: both;
			}
			clear: both;
		}

	}
	clear: both;
	padding: 7rem 0 7rem;
}

.container_inside{
	max-width: 1143px;
	width: 100%;
	margin: 0 auto;
}

section.about_me.home_pg{
	background-color: #f6f6f6;
	padding: 5rem 0 7rem;
	.inners_blocks{
		text-align: center;
		h3{
			font-size: 23px;
			font-weight: 700;
			color: #000;
		}
		p, ul li{
			text-align: left;
		}
		.lines{
			height: 1px;
			background-color: #949494;
			width: 100%;
		}
	}
}

.container_ft{
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;
}

footer.foots{
	padding: 6rem 0 4rem;
	background-color: #454545;
	.lgo_footer{
		img{}
	}

	
	.boxs_filter_ft{
		form{
			label{
				font-size: 16px; font-weight: 700;
				color: #fff;
				display: block;
				padding-bottom: 0.4rem;
			}
			select.form-control{
				max-width: 187px;
				padding: 1.5rem 1rem;
				font-size: 13px;
				height: auto;
			}
			margin: 0; margin-bottom: 0;
		}
	}

	.bloc_menuft{
		span.tops_ft{
			display: block;
			margin: 0; padding: 0;
			margin-bottom: 1.5rem;

			font-size: 17px;
			font-weight: 700; color: #fff;
		}
		ul{
			li{
				a{
					font-size: 14px;
					font-weight: 400;
					color: #fff;
				}
				a:hover,
				a:focus{
					color: #f3f3f3;
					text-decoration: none;
				}
				display: block;
				padding: 0.3rem 0;
				margin: 0;
			}
			display: block;
			margin: 0; padding: 0;
			list-style: none;
		}

		clear: both;
	}
	.socil_med{
		a{
			i.fa{
				color: #454545;
				font-size: 18px;
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}

			display: inline-block;
			width: 35px;
			height: 35px;
			text-align: center;
			background-color: #fff;
			border-radius: 5px;
			display: table;
			vertical-align: middle; text-align: center;
			float: left;
			margin-right: 0.8rem;
		}
	}

	.bottoms_ftcopyrights{
		.t-copyrights{
			p{
				font-size: 12px;
				font-weight: 500; color: #fff; line-height: normal;
				a{
					font-size: 12px;
					font-weight: 500;
					color: #fff; text-decoration: none;
				}
			}
			clear: both;
		}
		clear: both;
	}

	clear: both;
}

.lines-white{
	background-color: #9d9d9d;
	height: 1px;
	width: 100%;
}