/*----------------- Responsive ---------------------*/
@media (min-width: 1601px){
	
	header.head .backs_respons{
		max-width: 1600px; margin: 0 auto;
	}

}

@media (max-width: 1599px){
	
	header.head .information_social_net a i.fa{
		font-size: 12px;
	}
	header.head .information_social_net a {
	    width: 27px;
	    height: 27px;
	}

	header.head .information_headerphone i.fa,
	header.head .information_headerphone span,
	header.head .information_headerphone{
		font-size: 12px;
	}
	header.head .information_social_net {
	    padding-left: 10px;
	}
	header.head .top_headermenu.pl-24{
		padding-left: 10px;	
	}
	header.head .top_headermenu ul li a {
	    font-size: 12px;
	}
	header.head .sMenu_header_right {
	    padding-right: 30px;
	}
	header.head .sMenu_header_right ul{
		padding-top: 4px;
	}
	header.head .sMenu_header_right ul li {
	    padding: 0 6px;
	}
	header.head .sMenu_header_right ul li a {
	    font-size: 12px;
	}
	header.head .sMenu_header_right ul li a span{
		width: 13px !important;
		height: 13px !important;
		background-size: 100% 100% !important;
	}
	header.head .top-menu ul li a{
		font-size: 15px;
	}
	header.head .top-menu ul li{
		// width: 128.5px;
	}
	header.head .top-menu ul li.dropdown ul.dropdown-menu li a{
		font-size: 15px;
	}
	.listing_banner_default .items article .desc p{
		padding: 0 10px;
	}

}

@media (max-width: 1300px){

	.wrapper{
		/*margin: 0 3em;*/
	}
	.container{
		max-width: inherit;
		width: 100%;

		border: none;
		padding: 0 2em;
	}

}

@media (max-width: 1300px) and (min-width: 1200px){
	
	header.head .information_social_net a i.fa{
		font-size: 10px;
	}
	header.head .information_social_net a {
	    width: 24px;
	    height: 24px;
	}
	header.head .information_social_net a:hover{ text-decoration: none; }
	header.head .information_social_net a:hover i.fa{
		text-decoration: none;
	}
	header.head .top_headermenu ul li a {
	    font-size: 11px;
	}
	header.head .information_headerphone{
		font-size: 11px;
	}
	header.head .sMenu_header_right ul li a {
	    font-size: 11px;
	}
	header.head .sMenu_header_right ul li a span{
		width: 12px !important; height: 12px !important;
	}
	header.head .sMenu_header_right span.icon-basket-h{
		margin-top: 3px;
	}
	header.head .sMenu_header_right span.icon-profile-h{
		margin-top: 2px;
	}
	header.head .sMenu_header_right span.icon-pencil-h{
		margin-top: 2px;
	}
	header.head .top-menu ul li.dropdown ul.dropdown-menu li a,
	header.head .top-menu ul li a{
		font-size: 14px;
	}
	header.head .top-menu ul li {
	    width: 119px;
	}

}

@media (max-width: 1200px){
	
	.wrapper{margin: 0px;}
	body { 
		width: 100%;
	}
	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
		max-width: inherit;
	}

	.back_pattern_purple_bottom_slider .inside_text span.top{
		font-size: 17px;
	}
	.back_pattern_purple_bottom_slider .inside_text .box_filter_center form .form-group .selection select{
		width: 220px;
	}
	.back_pattern_purple_bottom_slider .inside_text .box_filter_center form button.btn_submit_custom{
		width: 220px;
		background-size: 100% 100%;
	}
	.back_pattern_purple_bottom_slider .inside_text .box_filter_center p{
		font-size: 16px;
	}

	.box_listing_surgeons1 .items{
		margin: 0 auto;
	}
	.back_surgeons_home .box_listing_surgeons1{
		max-width: 870px; margin: 0px auto;
	}
	.back_surgeons_home .tops h6{
		font-size: 23px;
	}
	.back_surgeons_home .tops h5.smalls{
		font-size: 17px;
	}

	section.back_home2.mh719 .insd .tops h6,
	.box_banner_home .tops h6.sub_title{ font-size: 23px; }
	section.back_home2.mh719 .insd .tops p{
		font-size: 32px;
	}
	section.back_home2.mh719 .insd .tops p span{
		font-size: 40px;
	}

	.listing_banner_default .items{
		padding: 0 0.8em;
	}
	section.back_home2.mh719 .insd .mdl .list_step_surgery_default ul li .items article .titles{
		font-size: 16px;
	}
	.listing_news_default .items article .title{
		font-size: 12px; max-height: 32px; overflow: hidden;
	}
	.listing_news_default .items.featured article .title{
		max-height: inherit; overflow: none;
	}
	.listing_news_default .items article span.dates{
		font-size: 12px;
	}
	.listing_news_default .items.featured article .title{
		font-size: 15px;
	}
	.back_grey_pattern, .blocks_news_home.mh850{
		min-height: 740px;
	}
	.blocks_news_home .tops h6{
		font-size: 23px;
	}
	.blocks_news_home .tops h5{
		font-size: 30px;
	}

	footer.foot span.sub_footer{
		font-size: 15px;
	}

	footer.foot .footers_info dl dt,
	footer.foot .footers_info dl dd,
	footer.foot .menu_footer ul li a{
		font-size: 14px;
	}
	footer.foot .social_footer a i.fa{
		font-size: 13px;
	}
	footer.foot .social_footer a{
		width: 28px; height: 28px;
	}

	footer.foot .t-copyrights{
		text-align: right;
	}

	body{
		overflow-x: hidden;
	}

	header.head .backs_respons{
		margin: 0 15px;
	}
	.listing_banner_default .items article .desc p{
		font-size: 14px;
	}

}

@media (max-width: 1199px){

	header.head{
		background: none;
		background-color: #3c2a5e;
		height: auto;
		width: 100%;
	}
	header.head .logo_header_web{
		position: relative; top: inherit; left: inherit;
	}

}

/* Large desktop */
@media (max-width : 1135px){
	
	/*.right_header .top_header{ display: none; }
	.right_header .bottom_header{ display: none; }*/

}
/*(max-width : 1024px) and*/

@media (min-width : 1003px) {
	
	.headers-responss{ display: none; }	
	.hidden-headersetku{ display: block; }

}

@media (max-width : 1002px) {

	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
	}
	header.head{

	}

	.back_pattern_purple_bottom_slider .inside_text span.top{
		font-size: 15px;
	}


}

@media (max-width: 991px){



}

@media (max-width: 980px){

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {


		
}

@media (min-width: 768px){

}

@media (max-width: 768px){
	


}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	.navbar-default {
		margin: 0;
		background: none;
		background-color: transparent;
		border-radius: 0px;
		border: 0px;
		border-bottom: 0px;
	}
	.navbar-toggle {
		margin-top: 14px;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	    background-color: rgba(221, 221, 221, 0.25);
	}
	.navbar-default .navbar-brand{ padding-bottom: 12px; color: #fff; font-weight: 700; }

	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a,
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a {
		color: #000;
		font-size: 14px;
		text-align: center;
		font-weight: 400; color: #fff; text-transform: uppercase;
		/*padding: 7px 15px;*/
	}
	.navbar-default .navbar-nav>.active>a, 
	.navbar-default .navbar-nav>.active>a:hover, 
	.navbar-default .navbar-nav>.active>a:focus {
	    color: #000;
	    background-color: rgba(255, 255, 255, 0.8);
	}
	.navbar-default .navbar-toggle {
	    border-color: #ddd;
	    margin: 1em auto 0.3em;
	    width: 45px;
	    display: block;
	    float: none;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border-color: transparent;
		margin: 0 -15px;
	}
	.navbar-nav > li{ border-bottom: 1px solid #ddd; }
	.navbar-collapse{ border-top: 0px; }
 	.navbar-default .navbar-nav > li > a { color: #000; font-weight: 400; }
 	header.head .navbar-header{
		padding-top: 0em;
		background-color: #feca4b;
		padding-bottom: 0.4em; padding-top: 0.3em;
	}
	header.head .navbar-header .sr-onlys{
		display: inline-block; margin-right: 0px;
		font-size: 14px; color: #000; font-weight: 700;
		text-align: center;
	}
	header.head .navbar-header button{
		display: inline-block; margin: 0 auto; text-align: center;
		background-color: transparent; border: 0px;
	}
	header.head .navbar-header button .icon-bar{
		background-color: #000;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background-color: transparent;
	}
	.navbar-default .navbar-nav > li > a:hover, 
	.navbar-default .navbar-nav > li > a{
		color: #000;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}

@media (max-width: 360px) {
}

@media (max-width: 358px) {
	

	
}