/*----------------------- IMPORT FONT ------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
// font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');
// font-family: 'Fira Sans', sans-serif;

// 1260
@Roboto: 'Roboto', sans-serif;

@font_set: 'Fira Sans', sans-serif;
@background: #fff;

/*---------------------------- GENERAL -------------------------*/
img{
    border: none;
    user-drag: none;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
html,body{
    height: 100%;
    /*width: 100%;*/
}
#pushstat{ display: none; }
body{
    background: transparent;
    margin: 0;
    padding: 0;
    
    font-family: @font_set, 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    
    color: #535353;
    background-color: @background;
}
html, body{
	margin: 0px; padding: 0px;
}

a:focus{
    outline: none;
}
html, body, p, span, div, h1, h2, h3 ,h4 ,h5 ,h6, ul, li, ol, a, table, tr, td, th{
    font-family: @font_set, 'Roboto', sans-serif;
    font-weight: 400;
}

.prelatif{
    position: relative;
    /*height: 100%;*/
}
.prelatife{
    position: relative;
}
body{
    /*test for not responsive*/
    /*min-width: 1260px;*/
}
@media (min-width: 1365px){
    .container {    
        max-width: 1260px;
        /*width: 1260px;*/
    }
}
.h100per{
	height: 100%;
}

.container {
    max-width: 1260px;
    /*height: 100%;*/
    /*test for not responsive*/
    /*min-width: 1260px;*/
    width: 1260px;
    margin: 0 auto;
    padding: 0px;
}
.center{
    text-align: center;
}
.tengah{
    margin: 0 auto;
    padding: 0px;
}
.row{
    margin: 0px;
}
[class*="span"] {
    margin: 0;
}
[class*="col-xs"]{
    padding: 0;
}
[class*="col-md"] {
    padding: 0;
}
[class*="col-lg"] {
    padding: 0;
}
.row.default{
	margin: 0 -15px;
}
.row.default > [class*="span"],
.row.default > [class*="col-xs"],
.row.default > [class*="col-md"],
.row.default > [class*="col-sm"],
.row.default > [class*="col-lg"]
{
    padding: 0 15px;
}

#preloader {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dadbdb url(../images/bgloader.jpg) left top repeat-x;
    height: 100%;
    z-index: 1500;
}
#statusloader {
    text-align: center;
    margin: 0 auto;
    left: inherit;
    width: 100%;
    vertical-align: middle;

    height: 100px;
    position: absolute;
    top: 36%;
    background-image: url(../images/loading2.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
.d-inline{ display: inline-block; }

// -----------------------------------------------------------
.back-white{
	background-color: #fff;
}
.d-inline.v-top{
	vertical-align: top;
}
.pl-24{
	padding-left: 24px;
}
.h8{
	height: 8px;
}
.v-mid{
	vertical-align: middle;
}
.pr-25{
	padding-right: 25px;
}
header.head{
	// position: absolute;
	// top: 0px;
	// left: 0px;
	// z-index: 20;

	width: 100%;
	// background: transparent url(../images/back-headers-top.jpg) repeat-x;
	background-color: white;
	height: 105px;
	border-bottom: 4px solid #e6e6e6;
	.top_header{
		height: 45px;
		// height: 24px;
		background-color: #fff;
		color: #7e7e7e;
	}
	.information_headerphone{
		padding-top: 7px;
		font-size: 14px; font-weight: 400; color: #f6a2ff; line-height: 1; letter-spacing: 1px;
		i.fa{ font-size: 14px; color: #fff; }
		span{ font-weight: 400; font-size: 14px; color: #fff; display: inline-block; letter-spacing: 0; }
		a{
			display: inline-block; color: #f6a2ff; text-decoration: none;
		}
	}
	.logo_header_web{
		position: absolute; top: 0; left:0px;
	}
	.right_header{
		padding-left: 241px; width: 100%;
	}
	.right_header{
		width: 100%;
	}
	.information_social_net{
		padding-left: 33px;
		a{
			width: 29px; height: 29px;
			background-color: transparent;
			border: 2px solid #fff; display: inline-table; vertical-align: top; text-align: center;
			border-radius: 15px;
			i.fa{
				display: table-cell; vertical-align: middle;
				font-size: 14px; color: #fff;
			}
		}
	}
	.top_headermenu{
		ul{
			margin: 0; padding: 0;
			li{
				padding: 0 5px;
				a{
					font-size: 11px; color: #fff; font-weight: 400; text-decoration: none;
				}
				a:hover{
					text-decoration: none; color: #f5f5f5;
				}
			}
			li:first-child{
				padding-left: 0;
			}
			li:last-child{
				padding-right: 0;
			}
		}
	}
	.sMenu_header_right{
		padding-right: 40px;
		ul{margin: 0; padding: 0; padding-top: 2px;
			li{ 
				padding: 0 5px;
				a{
					text-decoration: none; 
					font-size: 12px; font-weight: 400; 
					text-transform: uppercase;
					color: #000; 
					// span{
					// 	color: #7e7e7e;
					// 	display: inline-block;
					// 	vertical-align: top;
					// }
					border: 1px solid #000;
					border-radius: 8px;
					padding: 0.7rem 1rem;
				}
				a:hover{
					color: #000; text-decoration: none;
				}
			}
			li:first-child{ padding-left: 0; }
			li:last-child{ padding-right: 0; }
		}
		span.icon-search-h{
			background: url(../images/icon-search-white.png) no-repeat;
			width: 16px; height: 16px; margin-top: 3px;
		}
		span.icon-basket-h{
			background: url(../images/icon-basket.png) no-repeat;
			width: 20px; height: 18px; margin-top: 2px;
		}
		span.icon-plus-h{
			background: url(../images/icon-plus-white.png) no-repeat;
			width: 20px; height: 20px; margin-top: 2px;
		}
		span.icon-profile-h{
			background: url(../images/icon-user-profile.png) no-repeat;
			width: 18px; height: 20px; margin-top: 0px;
		}
		span.icon-pencil-h{
			background: url(../images/icon-pencil.png) no-repeat;
			width: 19px; height: 19px; margin-top: 0px;
		}
	}
	.bottom_header{
		text-align: left; 
		// padding-left: 24px;
	}
	.top-menu{
		margin: 0; 
		// margin-top: -10px;
	    ul{
	      // text-align: center;
	      margin: 0px; padding: 0px;
	      padding-top: 0px;
	      li{
	        // padding: 0 40px; 
	        // width: 167.4px;
	        // border-right: 1px solid #d0d0d0;
	      	float: left;
	        margin: 0 10px;
	        padding: 0;
	        // height: 70px; 
	        text-align: center;
	        a{
	        	// line-height: 70px;
	        	display: inline-block;
	        	width: 100%;
				color:#000;
				font-size: 14px;
				font-weight: 400;
				text-decoration: none; text-transform: uppercase;
	        }
	        a:hover{
	          text-decoration: none; color: #000;
	        }

	      }

	      li:focus,
	      li:hover,
	      li.active{
	      	border-bottom: 3px solid #024169;
	      }
	      li:last-child{
	        // padding-right: 0;
	        border-right: 0px;
	      }
	      li:first-child{
	      }
	      li:hover, li.active{
	        a{ text-decoration: none; color: #000; }
	      }

	      li.dropdown:hover > ul.dropdown-menu{
	      	display: block;
	      }

	      li.dropdown{
	      	// margin: 0;
	      	ul.dropdown-menu{
	      		margin: 0; padding: 0;
				background-color: #eae7de;
				border-bottom: 5px solid #e6e6e6;
	      		margin-top: 7px;
			    box-shadow: none;
			    padding-bottom: 3px;
			    border-radius: 0px;
	      		li{
	      			margin: 0; padding: 0;
	      			text-align: left;
					height: auto;
					padding: 9px 0;
					border: 0px;
					width: auto;
					min-width: 162px;
					clear: both;
	      			a{
	      				text-align: left;
					    font-size: 15px;
					    color: #7e7e7e;
					    font-weight: 400;
					    line-height: normal;
					    padding-top: 0px;
					    padding-bottom: 0px;
	      			}
	      			a:focus,
      				a:hover{
      					color: #000; background-color: transparent;
      				}
	      		}
	      	}
	      }
	      // end dropdown
	      
	    }
	  }
}

.lgo-header-web{

}

.back_pattern_purple_bottom_slider{
	position: absolute; bottom: 0px; left: 0px;
	z-index: 25;

	background: url(../images/backs_pattern_bottom_dtl.png)	repeat-x;
	height: 219px; width: 100%;

	.inside_text{
		span.top{
			font-size: 21px; font-weight: 400; color: #235b8f; line-height: 1; text-transform: uppercase;
			letter-spacing: 1px;
		}
		.box_filter_center{
			p{
				font-size: 19px; font-weight: 300; color: #235b8f; line-height: 1;
				font-style: italic;
				a{
					font-style: italic; font-weight: 700; color: #235b8f; text-decoration: underline;
				}
				a:focus,
				a:hover{
					text-decoration: none; color: #235b8f;
				}
			}
			form{
				margin-bottom: 2px;
				.form-group{
					padding-right: 27px;
					margin-bottom: 0;
					label{
						padding-top: 4px;
						font-size: 19px; font-weight: 400; color: #235b8f;
						padding-right: 22px;
					}
					.selection{
						select{
							width: 275px;
							height: 40px;
							background-color: #e6e6e6;
							border: 1px solid #fff;

							font-family: @font_set;
							font-weight: 400;
							color: #235b8f;
							font-size: 19px;
							border-radius: 0px;
						}
						select:hover,
						select:focus,
						select:active{
							box-shadow: none; 
							border: 1px solid #fff;
						}
					}
					input[type=text]{
						border-radius: 0px;
						width: 275px;
						height: 40px;
						background-color: #e6e6e6;
						border: 1px solid #fff;

						font-family: @font_set;
						font-weight: 300;
						color: #235b8f;
						font-size: 17px; 
					}
				}
				button.btn_submit_custom{
					background: none;
					box-shadow: none; border-radius: 0;

					background: url(../images/back-btn-find-surgeons.png) no-repeat;
					background-size: 100% 100%;
					width: 276px; height: 40px;
					border: 1px solid #fff;
					border-radius: 0px;
				}
			}			
		}
	}
}
.mh710{
	min-height: 710px; height: auto;
}
.box_banner_home{
	text-align: center;
	.tops{
		display: block;
		margin-bottom: 50px;
		h6.sub_title{
			margin: 0px; padding: 0px; margin-bottom: 10px;
			font-size: 25px; line-height: 1; letter-spacing: 1px;
			font-weight: 700; color: #000;
		}
		p{
			margin: 0; padding: 0;
			font-size: 35px; font-weight: 700; color: #535252;
			span{
				margin: 0; padding: 0; display: inline-block;
				
				font-weight: 400; font-size: 44px; color: #e6e6e6;
			}
		}
	}
	.middle{

	}
}
.listing_banner_default{
	.items{
		max-width: 396px; margin: 0 auto;
		.picts{
			img{
				display: block; margin: 0 auto; text-align: center;
			}
		}
		article{
			margin: 0; padding: 0;
			padding-top: 20px;
			h6{
				margin: 0; padding: 0; margin-bottom: 20px;
				text-align: center;
				font-size: 19px; font-weight: 700; color: #231f2e; line-height: 1;
			}
			a{
				color: #231f2e; text-decoration: none;
			}
			a:hover{
				color: purple; text-decoration: none;
				h6{
					color: purple; text-decoration: none;
				}
			}
			.desc{
				height: 104px; overflow: hidden; padding: 0 5px;
				p{
					margin: 0; padding: 0;
					font-size: 16px; font-weight: 400; color: #454545;
				}
			}
			.btn_learn_more{
				width: 205px; height: 36px;
				background-color: #3c2a5e;
				display: inline-block;
				font-size: 16px; font-weight: 700; color: #fff;

				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}
			.btn_learn_more:hover,
			.btn_learn_more:focus{
				background-color: #442A75;
				color: #fff;
			}
		}
	}
}


.back_cream{
	background-color: #e5e3db;
}
.mh500{
	min-height: 500px; height: auto;
}

#about{
	background-color: #fff;
}

.m-0,
h1.m-0{ margin: 0; }
.m-0{
	margin: 0 !important;
}

.outers_fcs_wrapper{
	// background:#fff url(../images/bck-cloud-outer-fcs.jpg) no-repeat;
	// width: 100%;
	// position: relative; z-index: 2;

	height: auto;
	// max-height: 527px;
	.in_fcs_wrapper{
		padding: 0px;
		position: relative;
		z-index: 50;

		.carousel-indicators{
			display: none;
			bottom: 14px;
		    margin-bottom: 0;
		    left: 0px;
		    margin-left: 0px;
		    width: auto;
			li{
				margin: 0 3px;
				width: 11px; height: 11px;
				background: transparent url(../images/toc-fcs.png) no-repeat;
				border:0px;
			}
			li.active{
				margin: 0 3px;
				width: 11px; height: 11px;
				background: transparent url(../images/toc-fcs-active.png) no-repeat;
				border: 0px;
			}
		}

	}
}
.h100p{
	height: 100%;
}

.v-top{
	vertical-align: top;
}
img.pc-center{
	display: block; margin: 0 auto; text-align: center;
}

.mb-0{
	margin-bottom: 0 !important;
}
.lines-white{
	height: 1px; background-color: #fff;
}

section.back_home2.mh719{
	background: url(../images/back-home-11.jpg) top center no-repeat;
	width: 100%; min-height: 715px; height: auto;
	background-size: cover;
	.insd{
		.tops{
			h6{
				margin: 0; padding: 0; margin-bottom: 0px; text-align: center; text-transform: uppercase;
				font-size: 25px; font-weight: 700; color: #231f2e; line-height: 1;
			}
			p{
				margin: 0; padding: 0;
				font-size: 35px; font-weight: 700; color: #535252; line-height: 1;
				span{
					margin: 0; padding: 0;
					 font-weight: 400; font-size: 44px; color: #235b8f;
				}
			}
		}
		.mdl{
			.btn_custom_purple2{
				background: none;
				box-shadow: none; border: 0px; border-radius: 0;

				background: #235b8f;
				width: 274px; height: 40px;
				text-align: center;
				vertical-align: middle;
				display: inline-block;
				padding-top: 9px;
				font-weight: 700; font-size: 16px; color: #fff;

				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}
			a.btn_custom_purple2:hover{
				background-color: #6b0f75;
			}
			.list_step_surgery_default{
				// update 6 step
				max-width: 750px; margin: 0 auto;
				ul{
					li{
						float: left; 
						// width: 20%;
						width: 33%;
						height: 210px; margin-bottom: 14px;
						.items{
							max-width: 175px; margin: 0 auto;
							.back_top{
								background: url(../images/back-circle-default-whiteGrey.png) no-repeat;
								width: 149px; height: 149px; margin: 0 auto;
								display: table; text-align: center;
								span{
									display: table-cell; vertical-align: middle;
									
									font-size: 45px; font-weight: 400; color: #3c2a5e; text-align: center;
								}
							}
							article{
								padding-top: 10px;
								.titles{
									font-size: 19px; font-weight: 700;
									color: #231f2e; line-height: 1.2; text-transform: capitalize;
								}
							}
						}
					}
					li:focus,
					li:hover{
						.items{
							.back_top{
								background-image: url(../images/back-circle-default-whiteGrey_hover.png);
							}
						}
					}
				}
			}

		}
	}
}

.mh850{
	min-height: 850px; height: auto;
}
.back_grey{
	background-color: #eae7de;
}
.h90{
	height: 90px;
}
.blocks_news_home{
	.tops{
		display: block; text-align: center;
		h6{
			margin: 0; padding: 0;
			font-size: 25px; font-weight: 700; color: #231f2e; line-height: 1;
			margin-bottom: 10px;
		}
		h5{
			margin: 0; padding: 0;
			font-size: 35px; font-weight: 700; color: #535252; line-height: 1;
			margin-bottom: 6px;
		}
		.block_nav{
			text-align: center;
			max-width: 360px; margin: 0 auto;
			ul{
				margin: 0; padding: 0;
				li{
					height: 26px; width: 180px;
					padding-left: 0;
					padding-right: 0;
					display: inline-table; float: left;
					border-bottom: 1px solid #b6b6b6;
					a{
						font-size: 18px; font-weight: 700; color: #231f2e; 
						display: block; vertical-align: top;
						text-align: center;
					}
				}
				li.active,
				li:hover{
					border-bottom: 2px solid #235b8f;
					a{
						text-decoration: none; color: #231f2e; 
					}
				}
			}
		}
	}
	.middles{
		padding-top: 10px;
	}
}
.listing_news_default{
	.row{
		margin: 0 -8px;
		.col-md-3,
		.col-md-6{
			padding: 0 8px;
		}
	}
	.items{
		position: relative; margin-bottom: 21px;
		max-width: 304px;
		.picts{
			z-index: 1; position: relative;
			img{}
		}
		article{
			position: absolute;
			bottom: 0px; left: 0px; z-index: 5;
			width: 100%;
			// height: 97px;
			background-color: rgba(0,0,0,0.7);
			padding: 18px 20px 10px;
			.title a,
			.title{
				font-size: 17px; font-weight: 700; color: #fff; line-height: 1.3; margin-bottom: 3px;
				text-decoration: none;
				// height: 45px; overflow: hidden;
			}
			.title a:hover,
			.title a:focus{
				color: #fff; text-decoration: none;
			}

			span.dates{
				font-size: 15px; font-weight: 400; color: #fff;
			}
			span.dates a{
				font-size: 15px; font-weight: 400; color: #fff;
			}
		}
	}
	.items.featured{
		margin-bottom: 0;
		max-width: inherit;
		article{
			background-color: rgba(0,0,0,0.5); height: 105px;
			.title{ font-size: 21px; line-height: 1.3; height: 55px; }
		}
	}
}

.back_grey_pattern,
.blocks_news_home{
	background: none;
	// background-image: url(../images/back-pattern-greys.jpg);
	background-repeat: repeat;
}

.h85{
	height: 85px;
}

footer.foot{
	position: relative;
	background-color: #fff;
	border-top: 1px solid rgba(0,0,0,0.1);
	min-height: 90px;
	height: auto;
	z-index: 1;
	padding: 20px 0;
	.row{
		margin: 0 -10px;
	}

	.t-footers{
	    font-size: 17px;
	    font-weight: 400;
	    color: #235b8f;
	    letter-spacing: 0.156em;
	    text-transform: uppercase;
		a{
			font-size: 17px; font-weight: 400; color: #235b8f; text-decoration: none;	
			span{ color: #80cce7 }
		}
		a:hover,
		a:focus{ text-decoration: none; color: #235b8f; }
		
		.menu_footer{
			ul{ margin-bottom: 0; 
				li{ padding-bottom: 0px; 
					a{
						font-size: 13px;
					    font-weight: 400;
					    color: #235b8f;
					    letter-spacing: 0.094em;
					    text-transform: uppercase;
					    margin: 0;
					    display: inline-block;
					}
					a:hover,
					a:focus{
						text-decoration: none; color: #000;
					}
				}
				li.separator{
					width: 1px;
					height: 22px;
					background-color: #235b8f;
					padding: 0;
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}
	span.sub_footer{
		display: block; font-size: 17px; font-weight: 700; color: #d78ee0; text-transform: uppercase;
		margin-bottom: 30px;
	}
	

	.t-copyrights{
		font-family: 'Poppins', sans-serif;
		font-size: 11px; font-weight: 300; color: #848484; text-transform: uppercase;
	}

	.social_footer{
		a{
			width: 32px; height: 32px;
			background-color: transparent;
			border: 2px solid #fff;
			border-radius: 15px;
			display: inline-table; text-align: center;
			i.fa{
				display: table-cell;
				vertical-align: middle; text-align: center;
				font-size: 16px; color: #fff;
			}
		}
		a:hover{
			text-decoration: none;
			border-color: #ddd;
			i.fa{
				text-decoration: none;
				color: #ddd;
			}
		}
	}
	.footers_info{
		dl{
			margin: 0; padding: 0;
			dt{
				float: left;
				width: 25px;
				margin-bottom: 7px;
				text-align: left;
				i.fa{
					margin-top: 1px;
					font-size: 16px; color: #fff;
				}
				i.fa.fa-envelope-o{
					margin-top: 0;
				}
				line-height: 1;
			}
			dd{
				margin-left: 25px;
				line-height: 1;
				margin-bottom: 7px;
				font-size: 17px; font-weight: 400; color: #fff; text-transform: uppercase;
				text-decoration: none;
				a{
					color: #fff; text-decoration: none;
				}
			}
		}		
		a.telp{
			color: #f6a2ff;
			span{
				color: #fff;
			}
		}
	}
	.social-media {
	    float: left;
	    width: auto;
	    text-align: right;
	    padding-top: 15px;
	    position: relative;
	    a {
		    display: inline-block;
		    font-size: 0.938em;
		    background-color: #235b8f;
		    margin-left: 5px;
		    border-radius: 50%;
		    line-height: 0;
		    position: relative;
		    letter-spacing: inherit;
		    height: 28px;
		    width: 28px;
		    .fa {
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    -webkit-transform: translate(-50%, -50%);
			    transform: translate(-50%, -50%);
			    color: #fff;
			    font-size: 15px;
			}
		}
		a:hover {
		    background-color: #80cce7;
		}
	}
	clear: both;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.carousel.fade {
    opacity: 1;
}
.carousel.fade .item {
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    left: 0 !important;
    opacity: 0;
    top:0;
    position:absolute;
    width: 100%;
    display:block !important;
    z-index:1;
}
.carousel.fade .item:first-child {
    top:auto;
    position:relative;
}
.carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    z-index:2;
}
 
.sect_cfcs{
	.carousel,
	.item,
	.active {
	    height: 100%; 
	    width: 100%;
	}

	.carousel-inner {
	    height: 100%;
	}

	/* Background images are set within the HTML using inline CSS, not here */

	.fill {
	    width: 100%;
	    height: 100%;
	    background-position: center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}

	.carousel-indicators{
		display: none;
		margin-bottom: 0; left: inherit; margin-left: 0px; margin: 0;
		bottom: 0px; width: auto;
		li{
			width: 11px; height: 11px; background: url(../images/toc-fcs.png) no-repeat;
			margin: 0px 2px;
			border: 0px;
		}
		li.active{
			width: 11px; height: 11px; background: url(../images/toc-fcs-active.png) no-repeat;
			margin: 0px 2px;
			border: 0px;	
		}
	}
	.bottoms_carouselindic{
		position: absolute; 
		bottom: 30px;
		left: 0px; width: 100%; z-index: 150;
	}
}
.blocks_txt_infcs{
	position: absolute; top: 0px; left: 0px;
	z-index: 250;
	width: 100%;
	top: 191px;
	.mw540{
		max-width: 540px;
	}
	h3{
		margin: 0px; padding: 0px;
		line-height: 1.2;
		font-size: 40px; font-weight: 300; color:#463c39;
		margin-bottom: 15px;
	}
	p{
		margin: 0px; padding: 0px;
		line-height: 1.4;
		font-size: 17px; font-weight: 400; color:#989898;	
	}
}
.h90{
	height: 90px;
}
.back-cream{
	background-color: #f5f4ec;
}

.clear,
.clearfix{
	clear: both;
}

.fRoboto{
	font-family: @Roboto !important;
}
.pict_full{
	img{ width: 100%; max-width: 100%; }
}
.mw1024{
	max-width: 1024px;
}

body.inside{
	header.head{
		position: relative;
		// background: #fff url(../images/backg-header-whit-yellow.png) repeat-x;
	}
}

.mw909{
	max-width: 909px;
}
/*----------------------- Midle Text Content -----------------*/
	.content-text{
	    font-family: @font_set;
	    font-weight:300;
	    font-size: 18px;
	    color: #000000;
	    text-align: left;
	}

	.content-text h1,
	.content-text h2,
	.content-text h3,
	.content-text h4,
	.content-text h5{ font-family: @font_set; margin: 0; padding: 0; margin-bottom: 20px; }

	.content-text h1{  }
	.content-text h2{  }
	.content-text h3{ clear: both; margin: 0px; margin-bottom: 22px; font-size: 24px; font-family: @font_set; font-weight: 300; color: #000; line-height: 1.3; }
	.content-text h4{ clear: both; margin: 0px; margin-bottom: 40px; font-size: 30px; font-family: @font_set; font-weight: 300; color: #000; line-height: 1.3; }
	.content-text h5{ clear: both; margin: 0px; margin-bottom: 22px; font-size: 22px; font-family: @font_set; font-weight: 300; color: #000; line-height: 1.3; }

	.content-text p{
	    margin: 0px;
	    margin-bottom: 25px;

	    font-family: @font_set;
	    font-weight:300;
	    font-size: 18px;
	    color: rgba(0, 0, 0, 0.75);
	    line-height: 1.4;
	}
	.content-text p a{
	    text-decoration: none;
	    color: rgba(0, 0, 0, 0.75);
	    font-weight: 400;
	}

	.content-text span{
	    display: block;
	    margin: 0;
	    margin-bottom: 26px;

	    font-family: @font_set;
	    font-weight: 300;
	    font-size: 22px;
	    color: #003c81;
	}
	
	.content-text img{
		margin-bottom: 38px;
	}

	img.pc-center{
	    margin: 0 auto;
	    display: block;
	    text-align: center;
	}

#back-top {
    color: #FFF;
    background: none repeat scroll 0% 0% #FFF;
    font-size: 20px;
    line-height: 100%;
    display: inline-block;
    position: fixed;
    z-index: 500;
    right: 0px;
    bottom: 0px;
    width: 35px;
    height: 35px;
    text-align: center;
    top: inherit !important;
    border: 1px solid #ccc;
}
#back-top i.fa {
    color: #565656;
}

.lines-grey{
	height: 1px; background-color: #ccc;
}

.lines-grey2{
	height: 1px; background-color: #9e9e9e;
}

select.css-select-moz:hover,
select.css-select-moz:active,
select.css-select-moz:focus{
  outline: none;
}

@-moz-document url-prefix() {

  select.css-select-moz{
      -moz-appearance:none;
      background:#e6e6e6 url(../images/select_row_option_default.png) right center no-repeat;
  }

}

// ----------------- col-md-15
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
	.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

// -------------------------------- inside page

.sub_page{ margin: 0; }
.lines_purple_journey{
	background: url(../images/lines-back-purples_w.jpg) no-repeat;
	width: 33px; height: 3px;
}
.sub_page.start_journey{
	position: relative;
	z-index: 2;
	// background:#231f2e url(../images/back-pattern-greys.jpg);
	padding-bottom: 6.5em;
	.blocks_journey{
		position: relative; z-index: 20;
		.tops{
			h6.sub_title{
				margin: 0px; padding: 0px; margin-bottom: 0px;
				font-size: 15px; line-height: 1; text-transform: uppercase;
				font-weight: 700; color: #000;
				margin-bottom: 10px;
			}
			p.c1{
				margin: 0px; padding: 0px; margin-bottom: 0px; line-height: 1;
				font-size: 25px; line-height: 1; text-transform: uppercase;
				font-weight: 700; color: #231f2e;
			}
			p{
				margin: 0; padding: 0;
				font-size: 35px; font-weight: 700; color: #535252;
				span{
					margin: 0; padding: 0; display: inline-block;
					
					font-weight: 400; font-size: 44px; color: #e6e6e6;
				}
			}
		}
		.middle{
			position: relative; z-index: 20;
			// background-color: #231f2e;
			.intext{
				position: absolute; top: 160px; left: 80px; z-index: 10;
				text-align: left;
				max-width: 635px;
				small{
					display: block;
					margin: 0px; padding: 0px; margin-bottom: 0px; line-height: 1;
					font-size: 16px; font-weight: 700; color: #3c2a5e; margin-bottom: 18px;
				}
				h5{
					margin: 0px; padding: 0px; margin-bottom: 0px;
					font-size: 40px; line-height: 1; display: block;
					font-weight: 300; color: #231f2e;
					margin-bottom: 18px;
				}
				p{
					margin: 0px; padding: 0px; margin-bottom: 0px; line-height: 1;
					font-size: 25px; font-weight: 300; color: #231f2e;
				}
				a.back-purple_default{
					font-size: 16px;  font-weight: 700; color: #fff;
					background-color: #235b8f;
					padding-top: 8px;

					width: 195px; height: 40px;
					border-radius: 6px;
				}
				a:hover,a:focus{
					background-color: #7c2286; color: #fff;
				}
			}
		}
	}
	.pos_right_abs{
		position: absolute; 
		top: -26px;
		right: 0px; z-index: 40;
		top: 16%;
	}
	.block_default_rightmenustatic{
		position: relative; z-index: 50;
		ul{
			margin: 0; padding: 0px;
			li{
				height: 62px; width: 319px;
				a{
					margin: 0px; padding: 0px;
					span.step{
						display: inline-table; float: left;
						width: 118px; height: 62px;
						background-color: transparent;
						font-size: 20px; font-weight: 400; color: #3c2a5e;
						 line-height: 60px;
					}
					span.name{
						display: table-cell; 
						// float: left;
						vertical-align: middle;

						width: 201px; height: 62px;
						background-color: transparent;
						padding-left: 15px; text-align: left; 
						line-height: 1.2;
						font-size: 16px; color: #000; font-weight: 700;
						text-transform: capitalize;
					}
				}
			}
			
			li.c1{ background-color: #e4f1f7; }
			li.c2{ background-color: #def0fa; }
			li.c3{ background-color: #d8eff7; }
			li.c4{ background-color: #d2eef9; }
			li.c5{ background-color: #cbebf6; }
			li.c6{ background-color: #c4eaf7; }
			li.c7{ background-color: #bee8f8; }
			
			li.c8{ background-color: #bf9dc2; }
			li.c9{ background-color: #bb91bf; }
			li.c10{ background-color: #b98bbe; }

			li:hover,
			li.active{
				a{
					text-decoration: none;
					span.step{
						background-color: #245c8f; color: #fff;
						text-decoration: none;
					}
				}
			}
		}
	}
}
.landing_page{	
	.block_default_rightmenustatic{
		ul{
			li{
				a{}
			}
			li:hover,
			li.active{
				a{
					text-decoration: none;
					span.step{
						background-color: #3c2a5e; color: #fff;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.box_subscribe_purple{
	background-color: #3c2a5e;
	padding: 30px 0 40px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	.insides{
		margin: 0px; padding: 0px; text-align: center;
		h4{ font-size: 24px; font-weight: 700; color: #fff; line-height: 1; margin: 0; padding: 0px; margin-bottom: 5px; }
		p{ font-size: 18px; font-weight: 400; color: #fff; line-height: 1; margin: 0; }
		.box_form{
			form{
				margin-bottom: 0;
				.form-group{
					margin-right: 8px;
					input{ width: 195px; height: 40px; font-size: 18px; font-weight: 400; color: #000; line-height: 1;	}
				}
				button.btn_purple_subscribe{
					background: none; border: 0px; box-shadow: none;
					text-decoration: none;
					background-color: #235b8f;
					width: 94px; height: 40px;
					font-size: 16px; font-weight: 700; color: #fff;
				}
			}
		}
	}
}

.mw1002{
	max-width: 1002px;
}
.z-1{
	z-index: 1;
}
.z-15{
	z-index: 15;
}

.back-purple-journeybottom{
	position: absolute; bottom: 0px; left: 0px;
	z-index: 2;
	width: 100%; height: 280px;

	.back-purple{
		position: relative;
		z-index: 5;
		background-color: #231f2e;
		width: 100%;
		height: 285px;
	}
}

.sub_page.start_journey{
	.blocks_journey.step_1{
		.tops{
			h1.titlepage{
				font-weight: 400; color: #235b8f; font-size: 90px; 
				line-height: 1; margin-bottom: 10px;
			}
			p.c1{
				color: #535252; font-size: 35px; font-weight: 700; text-transform: inherit;
			}
		}
		.middle{
			position: relative; margin: 0 15px;
			a.btns_goto_step{
				display: block;
				width: 195px; height: 40px;
				background-color: #235b8f; text-align: center;
				text-transform: uppercase;
				font-size: 16px; font-weight: 700; color: #fff;
				-webkit-border-radius: 7px;
				-moz-border-radius: 7px;
				border-radius: 7px;
				padding-top: 9px;
			}
			a.btns_goto_step:hover,
			a.btns_goto_step:focus{
				background-color: #e6f5fa; text-decoration: none; color: #235b8f;
			}
		}
	}
}

.blocks_right_stepmenu_inside{
	position: relative; 
	// margin-right: -2px;
}
.box_search_community,
.box_form_step1{
	margin-bottom: 50px;
	form{
		margin: 0; padding: 0;
			.form-group{
				margin-bottom: 12px;
				input{
					width: 195px; height: 41px;
					background-color: #fff;
					font-size: 18px; font-weight: 400; color: #000;
					border-radius: 10px;
				}
				select{
					width: 195px; height: 41px;
					background-color: #fff; border-radius: 10px;

					font-size: 18px; font-weight: 400; color: #adadad;
				}
				textarea{
					width: 100%; height: 160px;
					font-size: 18px; font-weight: 400; color: #adadad;
				}
			}
			button.btn_submit_custom{
				background: none;
				box-shadow: none; border: 0px; border-radius: 0;

				background: url(../images/btn-submit_step1.png) no-repeat;
				width: 94px; height: 40px;
			}
	}	
}
.mr-8{
	margin-right: 8px;
}
.dblock{
	display: block !important;
}
.box_comment_community{
	.tops{
		margin-bottom: 32px;
		padding-top: 15px; padding-bottom: 15px;
		border-top: 1px solid #9a9a9a;
		border-bottom: 1px solid #9a9a9a;
		span{
			display: block; margin: 0px; padding: 0px;
			text-align: left;
			font-size: 24px; font-weight: 700; color: #3c2a5e;
		}
		.box_search_community{
			max-width: 562px; float: right; margin-bottom: 0;
			form{
				.form-group{
					display: inline-block;
					margin-bottom: 0px;
					input{
						font-size: 15px;
						width: 354px; height: 40px;
					}
					select{
						font-size: 15px;
						height: 40px;
						color: #959595;
					}
				}
				button.magnify_submit{
					background: none;
					box-shadow: none; border: 0px; border-radius: 0;
					position: absolute; top: 4px; right: 0px;
					i.fa{
						font-size: 18px; color: #999999;
					}
				}
			}
		}
	}

	.list_comment_block{
		.items{
			clear: both; margin-bottom: 30px;
			.top{
				padding-top: 7px;
				padding-bottom: 2px;
				.pict{
					float: left; width: 50px;
				}
				.titles{
					font-size: 16px; font-weight: 400; color: #6a6a6a;
					span{
						font-weight: 700; color: #3c2a5e;
					}
				}
			}
			.desc{
				padding-left: 50px;
				padding-right: 17px;
				p{
					text-align: left;
					margin: 0px; padding: 0; line-height: 1.4;
					font-size: 18px; font-weight:300; color: #000;
				}
			}
			.subs{
				margin-top: 20px;
				background-color: #e2e2ec;
				margin-left: 50px;
				padding: 15px;
				padding-bottom: 25px;
			}
		}
		.items:last-child{
			margin-bottom: 20px;
		}
	}

	.bottoms_comment{
		padding-right: 7px;
		padding-bottom: 20px;
		border-bottom: 1px solid #9a9a9a;
		a.tx_more{
			margin: 0; padding: 0;
			font-size: 18px; font-weight: 400; color: rgba(0,0,0,0.4); text-decoration: none;
		}
		a:hover,
		a:focus{
			text-decoration: none; color: #000;
		}
	}
}

.sub_page.start_journey{
	.blocks_journey.step_4{
		.middle{
			.content-text{
				ul {
					margin: 0; margin-left: 0;
					margin-bottom: 25px;
				    list-style-type: none; padding-left: 0;
				  }
				  li:before {
				    content: " - "; padding-bottom: 2px;
				  }
				  a{
				  	color: #235b8f; text-decoration: none; font-weight: 700;
				  }
				  a:hover, a:focus{
				  	color: #000; text-decoration: none;
				  }
				  img{
				  	margin-bottom: 0;
				  }
			}
		}
	}
}

.sub_page.start_journey{
	.blocks_journey.step_3{
		.middle{
			  img{
			  	margin-bottom: 0;
			  }
			  .list_category_step3{
				.items{
					max-width: 270px; text-align: center;
					.pict{
						margin-bottom: 0;
						// height: 270px;
						overflow: hidden;
						border-radius: 12px;
						background-color: transparent;
						img{
							border-radius: 12px;
							background-color: transparent;

							-webkit-transform: scale(1);
							transform: scale(1);
							-webkit-transition: .3s ease-in-out;
							transition: .3s ease-in-out;
						}
						a:focus,
						a:hover{
							background-color: transparent;
							img{
								border-radius: 12px;
								opacity: 0.95;
								-webkit-transform: scale(1.35); transform: scale(1.35);
							}
						}
					}

					.titles{
						display: block; text-align: center;
						font-size: 22px; font-weight: 400; color: #3c2a5e;
						a{
							color: #3c2a5e; text-decoration: none;
						}
						a:hover,
						a:focus{
							color: #000; text-decoration: none;
						}
					}
				}
			  }
			  .list_category_step3.details_step3{
			  	.items{
			  		clear: both; margin-bottom: 38px;
			  		.pict{
			  			transform: 0;
			  			a{
			  				transform: 0;
			  				img{
								transform: 0;
			  				}
			  			}
			  		}
			  		.titles{
			  			font-size: 16px; font-weight: 700; color:#3c2a5e;
			  		}
			  	}
			  }
		}
		// end middle
		.middle.detailStep_3{
			.on_top{
				clear: both;
				margin-bottom: 30px;
				.t_category{
					color: #235b8f; font-size: 22px; font-weight: 300;
					margin: 0; padding: 0;
					line-height: 1;
					b,strong{
						font-weight: 700;
					}
					a{
						font-weight: 300;
						text-decoration: none; color: #235b8f;
					}
				}
				.back_category{
					line-height: 1;
					a{	
						line-height: 1;
						font-size: 18px; font-weight: 700; color: #235b8f; text-decoration: none;
						display: inline;
					}
					a:focus,
					a:hover{
						color: #000; text-decoration: none;
					}
				}

				.lines{
					height: 1px;
					background-color: #8e887b;
				}
			}
		}
	}
}

.sub_page.start_journey{
	.blocks_journey.step_5{
		.middle{
			img{
				margin-bottom: 0;
			}
			.mw909{
				padding-right: 10px;
			}
			
			.list_member_step5{
				.items{
					clear: both; margin-bottom: 32px;
					.pict{}
					.description{
						a{
							color: #235b8f;
							h5{
								color: #235b8f;
								font-weight: 700;
							}
						}
						a:hover{
							text-decoration: none; 
							h5{
								text-decoration: none; color: #000;
							}
						}
						padding-left: 10px;
						p{
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}

.sub_page.start_journey{
	.blocks_journey.step_6{
		.middle{
			.box_slider_step6{
				max-width: 827px;
				img{
					border-radius: 10px;
				}
			}
		}
	}
}

.sub_page.start_journey{
	.blocks_journey.step_7{
		.middle{

				.list_organised_step7{
					.items{
						height: auto;
						background-color: #fff;
						padding: 40px 42px 36px;
						width: 100%;
						clear: both;
						margin-bottom: 22px;
						-webkit-border-radius: 8px;
						-moz-border-radius: 8px;
						border-radius: 8px;
						.picts{
							margin: 0; padding: 0;
							img{
								margin-bottom: 0;
							}
						}
						.descriptions{
							margin: 0;
							h5{
								margin: 0; padding: 0; margin-bottom: 8px;
								font-size: 18px; font-weight: 700; color: #235b8f; line-height: 1;
							}
							p{
								margin: 0; padding: 0; margin-bottom: 22px;
								font-size: 18px; font-weight: 300; color: #000; line-height: 1.4;
							}
							a.btns_purples{
								background: none;
								box-shadow: none; border: 0px; border-radius: 0;
								width: 210px; height: 40px;
								background-color: #235b8f;
								-webkit-border-radius: 8px;
								-moz-border-radius: 8px;
								border-radius: 8px;
								padding-top: 9px;
								text-align: center; display: inline-block;
								font-size: 16px; font-weight: 700; color: #fff;
							}
						}
					}
				}
				// end list organised_step7
		}
	}
}

.sub_page.start_journey{
	.blocks_journey.step_8{
		.middle{
			ol{
				margin: 0px; padding: 0px; margin-left: 18px;
				li{
					font-size: 16px; font-weight: 700; color: #000;
					padding-bottom: 5px;
				}
			}
			a.btns_purples{
				background: none;
				box-shadow: none; border: 0px; border-radius: 0;
				width: 210px; height: 40px;
				background-color: #235b8f;
				-webkit-border-radius: 8px;
				-moz-border-radius: 8px;
				border-radius: 8px;
				padding-top: 9px;
				text-align: center; display: inline-block;
				font-size: 16px; font-weight: 700; color: #fff;
			}
			a.btns_purples:focus,
			a.btns_purples:hover{
				text-decoration: none; background-color: #7b2685;
			}

			.list_reveal_news{
				margin-right: -6px;
				.items{
					max-width: 441px; margin: 0 auto; margin-bottom: 20px; margin-right: 3px;
					.picture{
						border-radius: 8px;
						img{
							margin-bottom: 0;
							border-radius: 8px;
						}
					}
					.description{
						position: absolute; bottom: 0px;
						left: 0px;

						width: 100%; height: 97px;
						background: url(../images/back-purples_block_ddli.png) no-repeat;
						margin: 0;
						padding: 15px 25px 10px;
						.titles{
							margin: 0; line-height: 1.2; margin-bottom: 3px;
							font-size: 22px; font-weight: 700; color: #fff;
						}
						span.dates{
							margin: 0; line-height: 1;
							font-size: 13px; font-weight: 300; color: #fff;
						}
					}
				}
			}
			// end reveal news

			a.btns_purples.w180{
				width: 180px;
			}

			// step 10 start
			.box_sharing_step10{
				padding: 40px 45px;
				.listing_sharing_step10{
					background-color: #fff;
					border-radius: 10px;
					margin-bottom: 0;
					.items{
						padding-bottom: 23px;
						border-bottom: 1px solid #ccc;
						margin-bottom: 25px; height: auto;
						.pict{
							img{
								margin-bottom: 0;
							}
						}
						.descriptions{
							h5.titles{
								margin: 0px; padding: 0; line-height: 1; margin-bottom: 8px;
								font-size: 18px; font-weight: 700; color: #235b8f;
							}
							span.dates{
								display: block;
								margin: 0px; padding: 0; line-height: 0.9; text-transform: uppercase;
								font-size: 14px; font-weight: 300; color: #000;
							}
							p{
								margin: 0px; padding: 0; line-height: 1.4;
								font-size: 18px; font-weight: 300; color: #000;
							}
						}
					}
					.items.last{
						margin-bottom: 0; padding-bottom: 0; border-bottom: 0px;
						padding-bottom: 5px;
					}
				}
			}
			// end step 10 start
		}
	}
}

.pr-0{
	padding-right: 0 !important;
}

.mw901{
	max-width: 901px;
}

.landing_hero{
	margin-bottom: 25px; clear: both;
	img{
		clear: both; margin-bottom: 0;
	}
}
.block_slide_landingjourney{
	background-color: #fff;
	.carousel{
		.carousel-inner{
			img{
				opacity: 0.5;
			}
			.carousel-caption{
				position: absolute;
				left: 0px;
				bottom: 0px;
				z-index: 350;
				right: inherit;
				text-shadow: none;
				padding-bottom: 0px;
				padding-top: 0; height: 100%;
				.intext{
					position: relative;
				}
			}
		}
	}
}

// static content
.outers_page_static{
	.sub_page_static{
		
		.left_cont{
			// 63987351
			border-right: 2px solid #989898;
			// width: 962px;
		}
		.right_cont{
			// width: 298px;
			span.sub_page_title{
				line-height: 1; display: block;
				font-size: 22px; font-weight: 700; color: #231f2e; text-transform: uppercase;
			}
			.right_sub_menu{
				ul{
					margin: 0; padding: 0px;
					li{
						border-left: 4px solid transparent;
						padding-left: 25px;
						line-height: 35px; 
						a{
							font-size: 19px; font-weight: 400; color: #747474;
							line-height: 1;
						}
					}
					li.active,
					li:hover{
						border-left: 4px solid #e6e6e6;
						a{
							text-decoration: none; color: #000;
						}
					}
				}

				// setup sub menu
				ul{
					li{
						ul.dropdown-menu{
							position: relative;
							top: inherit;
							left: inherit;
							bottom: inherit;
							display: block;     float: none;
						    background: none;
						    box-shadow: none;
						    border: 0px;
						    li{
						    	padding-left: 15px;
						    	border: 0px;
						    	a{
						    		text-transform: inherit;
									font-size: 17px;
									padding: 4px 0px;
						    	}
						    	a:hover{
						    		border: 0px;
						    		background-color: transparent;
						    		color: #000; text-decoration: underline;
						    	}
						    }
						    li:focus,
						    li:hover{
						    	border: 0px;
						    	a{
						    		border: 0px;
						    	}
						    }
						}
					}
					li.dropdown:hover > ul.dropdown-menu{
						display: block;
					}
				}
				// end sub menu
			}
		}
		.mw906{
			max-width: 906px;
		}
		.content-text.insides_static{
			text-align: center;
			h2.title_page,
			h1.title_page{
				margin: 0; padding: 0;
				margin-bottom: 25px;
				font-size: 15px; font-weight: 700; color: #000; line-height: 1; text-transform: uppercase;
			}
			h2.title_page.shadow,
			h1.title_page.shadow{
				text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
			}
			h2.title_page:after,
			h1.title_page:after{
				margin: 1rem auto 0;
			    content: "";
			    background: #e6e6e6;
			    width: 33px;
			    height: 3px;
			    display: block; text-align: center;
			}

			h3.tagline{
				margin: 0; padding: 0;
				
				font-size: 50px; font-weight: 300; color: #235b8f; 
				line-height: 1;
				clear: both;
				margin-bottom: 60px;
				padding-top: 10px;
			}
			h3.tagline.shadow{
				text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
			}
			h4{
				font-size: 30px; font-weight: 300; color: rgba(0, 0, 0, 0.8); line-height: 1.5;
				margin-bottom: 20px;
			}
		}
	}
}

.outers_page_static{
	.sub_page_static.coaching{
		.content-text.insides_static{
			h3.tagline{
				margin-bottom: 45px;
			}
			ol li,
			ul li,
			p{
				text-align: left;
				font-size: 17px; font-weight: 300; color: rgba(0, 0, 0, 0.75);
			}
			ul,ol{
				margin-bottom: 30px;
			}
		}
		.content-text.insides_static.p2{
			p{
				text-align: center;
				color: #636363;
			}
		}
	}
}
.mh500{
	min-height: 500px; height: auto;
}
.mw903{
	max-width: 903px;
}
.block_rate_services_coaching{
	padding-top: 80px;
	padding-bottom: 60px;

	.list_coaching_service_rate{
		.items{
			max-width: 617px;
			border-radius: 5px;
			.pict{
				position: relative;
				img{
					margin: 0px;
				}
			}
			.description{
				background-color: #f3f3f3;
				min-height: 100px; height: auto;
				padding: 40px 20px 40px;
				-moz-border-radius-bottomright: 5px;
				-webkit-border-bottom-right-radius: 5px;
				border-bottom-right-radius: 5px;
				-moz-border-radius-bottomleft: 5px;
				-webkit-border-bottom-left-radius: 5px;
				border-bottom-left-radius: 5px;

				.hdescbottom{
					// height: 445px;
					height: 475px;
					overflow: hidden;
				}
				
				ul{
					margin: 0;
					margin-bottom: 0 !important;
					max-width: 515px;
					margin:0 auto;
					li{
						font-size: 17px;
						padding: 2px 0;
					}
				}

				span{
					margin: 0; padding: 0px; margin-bottom: 25px;
					display: block;
					font-size: 18px; font-weight: 700; color: #636363; line-height: 1.3;
					b,strong{
						font-size: 25px; font-weight: 400;
					}
				}
				p{
					margin: 0; padding: 0px; margin-bottom: 25px;
					display: block;
					font-size: 18px; font-weight: 300; color: #636363; line-height: 1.6;
				}
			}
		}
	}
	.list_coaching_service_rate .col-md-6:nth-child(2) .items{
		float: right;
	}

}
a.btn_custom_default_purple_b{
	background: none;
	box-shadow: none;
	text-decoration: none; border: 0px;
	border-radius: 0px;

	width: 210px; height: 40px;
	background: url(../images/blocks-btn-purple-round.png);

	text-transform: uppercase;
	font-size: 16px; font-weight: 700; color: #fff; letter-spacing: 0px;
	padding-top: 9px;
}
a.btn_custom_default_purple_b:hover,
a.btn_custom_default_purple_b:focus{
	opacity: 0.9;
	color: #fff;
}

.mw1021{
	max-width: 1021px;
}
.fz16_p{
	p{
		font-size: 16px !important;
	}
}
.blocks_purple_bottom_coaching_content{
	background-color: #231f2e;
	border-radius: 8px;
	padding: 25px 0;
	p{
		margin: 0; padding: 0px;
		display: block;
		font-size: 16px !important; 
		font-weight: 700 !important; 
		color: #636363; line-height: 1.6;
	}
}

.content-text.insides_static.coaching2_form{
	span{
		margin: 0; padding: 0px; margin-bottom: 0px;
		display: block;
		font-size: 18px; font-weight: 700; color: #636363; line-height: 1.3;
		b,strong{
			font-size: 25px; font-weight: 400;
		}
	}
}
.box_form_shopcart_c,
.box_form_coaching_c{
	ol,ul{
		margin-bottom: 0 !important;
		li{
			a{
				font-weight: 300 !important;
			}
		}
	}
	.bootstrap-select.btn-group .dropdown-menu li a{
		span{
			font-weight: 300 !important;
			font-size: 17px;
		}
	}
	.bootstrap-select.btn-group .dropdown-toggle .filter-option{
		font-weight: 300;
	}
	.bootstrap-select{
		button{
			border-radius: 0px;
		}
	}
	form{
		margin-bottom: 0;
		.form-group{
			text-align: left; margin-bottom: 25px;
			label{
				font-size: 17px; font-weight: 300; color: #000; 
				text-align: left;
			}
			input[type=text]{
				border-radius: 0px;
				height: 36px;

				font-size: 17px; font-weight: 300; color: #000;
			}
			input[type=checkbox]{
				margin-top: 5px;
				// margin-right: 20px;
			}
			select{
				height: 36px; border-radius: 0px;
				font-size: 17px; font-weight: 300;
			}
			img.ui-datepicker-trigger{
				position: absolute; 
				top: 8px;
				right: 10px;
				margin: 0px;
			}
			.checkbox{
				font-size: 17px; font-weight: 300; color: #000;
			}
			.radio{
				font-size: 17px; font-weight: 300; color: #000;
			}
			input[type=file]{
				font-weight: 300; color: #000;
			}
			img{
				margin: 0;
			}
		}
		button.backs_btn_submit{
			background: none; background-color: transparent;
			box-shadow: none;
			border-radius: 0; border: 0px;
			width: 134px; height: 40px;
			background: url(../images/back-btns-submit-tb-purple.png) no-repeat;
		}
	}

	p.sub_title{
		margin: 0;
		margin-bottom: 20px;
		display: block;
		font-size: 18px !important; 
		font-weight: 700 !important; 
		color: #000000;
	}
}
.mb15{
	margin-bottom: 15px !important;
}
.mb10{
	margin-bottom: 10px !important;
}
.mb5{
	margin-bottom: 5px !important;
}
.mb0{
	margin-bottom: 0px !important;
}
.mt0{
	margin-top: 0px !important;
}

.padding-25{
	padding: 25px;
}

.page_faq_content{
	span{
		margin-bottom: 0;
		font-size: 18px; font-weight: 400; color: #5e5d59; line-height: normal;
	}
	.box_select_f{
		width: 276px; height: 39px;
		select{

		}
		button{}
	}
	.lines-grey{
		height: 1px; background-color: #989898;
	}
	
	// accordion
	i.icons.icon_minus{
		background: url(../images/icon-purple-minus-ss.png) no-repeat;
		display: inline-block;
		width: 22px; height: 21px;
		margin-right: 15px;
		vertical-align: top;
	}
	i.icons.icon_plus{
		background: url(../images/icon-purple-plus-ss.png) no-repeat;
		display: inline-block;
		width: 22px; height: 21px;
		margin-right: 15px;
		vertical-align: top;
	}

	.panel-group{
		background: none; background-color: transparent; box-shadow: none;
		border: 0px; margin-bottom: 0;
		.panel-default{
			background: none; background-color: transparent; box-shadow: none; border: 0px;
			margin-bottom: 0;
			.panel-heading{
				border: 0px;
				background: none; background-color: transparent;
				padding-left: 0;
				a:hover,
				a:focus,
				a{
					text-decoration: none;
				}
				h4{
					margin-bottom: 0;
					font-size: 18px; font-weight: 700; color: #000; line-height: normal;
				}
			}
			.panel-body{
				font-size: 16px; font-weight: 300; color: #000; line-height: normal;
				padding-left: 37px;
				p{
					font-size: 16px; font-weight: 300; color: #000; line-height: normal;
					margin-bottom: 23px;
				}
			}
		}
	}

}

.box_donwload_procedures{
	.titles{}
	.list{
		margin: 0; margin-bottom: 0;
		.items{
			font-size: 16px; font-weight: 400; color: #231f2e;
			padding-bottom: 7px; 
			border-bottom: 1px solid #989898;
			margin-bottom: 11px;
			img{
				margin-bottom: 0;
			}
			span{
				margin-bottom: 0; margin: 0;
				line-height: normal;
				font-size: 16px; font-weight: 400; color: #231f2e;
			}
			.text-right{
				a{
					text-align: right; display: block;
				}
			}
		}
	}
}

.insides_c_content_surgeons{
	.tops{
		clear: both;
		// padding-bottom: 16px; 
		padding-bottom: 24px; 
		border-bottom: 1px solid #c2c2c2;
		margin-bottom: 16px;
		.filter_surgeons_top{
			clear: both; width: 100%;
			background-color: #fff;
			border-radius: 5px; 
			// overflow: hidden;
			.w25p{
				width: 25%;
			}
			.form-group{
				margin: 0;
				float: left;
				select{
					width: 100%;
					border: 1px solid #bfbfbf;
					background-color: transparent;
					background-color: transparent;
					box-shadow: none; border-radius: 0px;
					font-size: 18px; font-weight: 400; color: #231f2e;
					height: 45px;
					border-right: 0px;

					-moz-border-radius-topleft: 5px;
					-webkit-border-top-left-radius: 5px;
					 border-top-left-radius: 5px;
					-moz-border-radius-bottomleft: 5px;
					-webkit-border-bottom-left-radius: 5px;
					border-bottom-left-radius: 5px;
					font-family: @font_set;
				}
				input{
					background-color: transparent;
					box-shadow: none; border-radius: 0px;
					border: 1px solid #bfbfbf;
					font-size: 18px; font-weight: 400; color: #9f9c9b;
					height: 45px;
					border-right: 0px;
					// font-family: @font_set;
				}
				button{
					background: none;
					background-color: transparent;
					border: 0px;
					box-shadow: none;
					border-radius: 0px;

					font-family: @font_set;
					background-color: #235b8f;
					height: 45px; width: 100%;
					font-size: 16px; font-weight: 700; color: #fff;

					-moz-border-radius-topright: 5px;
					-webkit-border-top-right-radius: 5px;
					border-top-right-radius: 5px;
					-moz-border-radius-bottomright: 5px;
					-webkit-border-bottom-right-radius: 5px;
					border-bottom-right-radius: 5px;

				}
			}
		}
	}
	.middles{
		.box_sorting{
			span{
				margin: 0; display: inline-block;
				font-size: 16px; font-weight: 400; color: #231f2e;
			}
			a{
				text-decoration: none; font-size: 16px; font-weight: 400; color: #747474;
			}
			a.active,
			a:hover,
			a:focus{
				text-decoration: none; font-size: 16px; font-weight: 400; color: #231f2e;
			}
		}
		
		.box_listing_surgeons1{
			margin-right: -20px;
			.items{
				width: 404px; height: 312px; margin-bottom: 27px;
				border-radius: 8px; clear: both; overflow: hidden;
				.picture{
					margin-bottom: 0;
					img{
						margin-bottom: 0;
					}
				}
				.desc{
					background-color: white;
					width: 100%; height: 133px;
					padding: 12px 27px 20px;
					padding-right: 15px;
						.doctor_p{
							vertical-align: top; text-align: left;
							float: left; padding-right: 20px;
							img{
								width: 82px; height: 82px;
								border-radius: 35px; margin: 0;
							}
						}
						.doctor_info{
							vertical-align: top;
							text-align: left; float: left;
							max-width: 242px;
							overflow: hidden;
							span.names{
								text-align: left;
								margin: 0; line-height: normal;
								padding: 0;	
								font-size: 18px; font-weight: 400; color: #235b8f;

								overflow: hidden;
								clear: left;
								text-align: left;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
							i.fa{
								font-size: 16px; color: #ffb516;
							}
							p{ text-align: left;
								margin: 0; line-height: normal;
								padding: 0;
								font-size: 16px; font-weight: 400; color: #747474;

								overflow: hidden;
								clear: left;
								text-align: left;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
						}
				}
			}
		}
		// end listing alpabetic
		
		.box_listing_surgeons2{
			margin-right: 0px;
			.items{
				position: relative;
				width: 100%; 
				height: 179px; 
				margin-bottom: 25px;
				clear: both; 
				overflow: hidden;
				.picture.doctor_p{
					vertical-align: top; text-align: left;
					float: left; margin-top: 25px;
					margin-left: 22px;
					img{
						width: 127px; height: 127px;
						border: 2px solid #fff;
						border-radius: 63px; margin: 0;
						-webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.34);
						-moz-box-shadow:    1px 1px 4px 0px rgba(50, 50, 50, 0.34);
						box-shadow:         1px 1px 4px 0px rgba(50, 50, 50, 0.34);
					}
				}
				.desc{
					border-radius: 10px; 
					background:#fff top left url(../images/back-pink-leftcont_surgeons_pg.jpg) no-repeat;
					width: 100%; 
					height: 179px;
					padding: 15px 80px 15px;
					padding-right: 30px;
						.doctor_info{
							vertical-align: top;
							text-align: left; 
							span.names{ text-align: left;
								margin: 0; line-height: normal;
								padding: 0;	
								font-size: 18px; font-weight: 400; color: #235b8f;
							}
							i.fa{
								font-size: 16px; color: #ffb516;
							}
							p{ text-align: left;
								margin: 0; line-height: 1.3;
								padding: 0;
								font-size: 16px; font-weight: 400; color: #747474;
							}
						}
				}
			}
		}
		// end listing alpabetic
		.lines-grey{
			border-bottom: 1px solid #c2c2c2;
		}
	}
}
.ml102{
	margin-left: 102px;
}

// button.empty,
input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.blocks_outer_list_blog.pinside{
	margin-right: -15px;
	.items{
		max-width: 405px;
		margin: 0;
		border-radius: 10px; overflow: hidden;
		.pict{
			img{
				margin: 0;
			}
		}
		.block_purple.desription{
			position: absolute;
			bottom: 0px; left: 0px;

			background: url(../images/back-purple-description-blogs_news.png) no-repeat;
			width: 100%; height: 89px;
			text-align: left;
			padding-left: 20px; padding-top: 10px;
			span.title{
				text-align: left;
				margin: 0px; padding: 0; line-height: 1.2; 
				margin-bottom: 3px;
				font-size: 20px; font-weight: 700; color: #fff;
			}
			span.date{
				text-align: left;
				margin: 0px; padding: 0; line-height: 1;
				margin-bottom: 0px;
				font-size: 13px; font-weight: 400; color: #fff;
			}
		}
	}
}

button.back_purple_defaults_tl,
a.back_purple_defaults_tl{
	background: url(../images/back-buttons_purple_d3.png) no-repeat;
	width: 196px;
	height: 40px;
	// display: block;
	position: relative;
	
	text-align: center; padding-top: 9px;
	font-size: 16px; font-weight: 400; color: #fff;
}

a.back_purple_defaults_tl:focus,
a.back_purple_defaults_tl:hover{
	color: #f5f5f5; 
	text-decoration: none;
}

.surgeons_detail_page{
	.blocks_top_detail_surgeons{
		height: 82px;
		.pos_tops{
			position: absolute; width: 100%;
			left: 0px; top: -108px;
			z-index: 150;
		}
		.picture_doctor{
			margin: 0;
			margin-bottom: -5px;
			img{
				width: 133px; height: 133px;
				border: 2px solid #fff;
				border-radius: 63px; margin: 0;
				-webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.34);
				-moz-box-shadow:    1px 1px 4px 0px rgba(50, 50, 50, 0.34);
				box-shadow:         1px 1px 4px 0px rgba(50, 50, 50, 0.34);
				margin-bottom: 0;
			}
		}
		.right_conts{
			margin: 0;
			.titles{
				margin: 0; line-height: 1.1;
				padding: 0;	
				text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.86);
				font-size: 22px; font-weight: 700; color: #fff;
				height: 59px; overflow: hidden;
				margin-bottom: 10px;
			}
			.descs{
				text-align: left;
			    overflow: hidden;
			    clear: left;
			    text-align: left;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    max-width: 744px;

				p{
					padding-top: 5px;
					text-align: left;
					margin: 0; line-height: 1.3;
					// font-size: 16px; 
					// font-weight: 400; 
					font-size: 14px; 
					font-weight: 400;
					color: #747474;
				}
				span{
					display: block; 
					padding-top: 1px;
					text-align: left;
					margin: 0; line-height: 1.3;
					font-size: 14px; 
					font-weight: 400;
					color: #b349b4;
				}
				.blocks_social_surgeons{
					text-align: left;
					padding-top: 5px;
					ul{
						text-align: left;
						margin: 0; padding: 0;
						li{
							margin: 0; padding: 0;
							padding: 0 11px;
							text-align: left;

							font-size: 14px; font-weight: 400; color: #747474;
							a{
								font-size: 14px; font-weight: 400; color: #747474;	
							}
							a:hover,a:focus{
								color: #000; text-decoration: none;
							}
							i.fa{
								font-size: 14px; color: #868686;
							}
						}
						li:first-child{
							padding-left: 0;
						}
					}
				}
			}
		}
		.blocks_right_review{
			text-align: right;
			p{
			    text-align: right;
			    margin: 0;
			    line-height: normal;
			    padding: 0;
			    font-size: 16px;
			    font-weight: 400;
			    color: #747474;
			    i.fa {
				    font-size: 16px;
				    color: #ffb516;
				}
			}
		}
	}
	
	// Content detail surgeons detail
	.insides_c_content_surgeons.s_detail{
		.sBox_surgeons_details{
			clear: both;
			ul.nav.nav-tabs{
				// display: flex;
				margin-bottom: 0; margin: 0;
				padding: 0;
				margin-bottom: 40px;
				li{
					width: 14.2%; display: inline-block;
					margin: 0;
					height: 35px;
					margin-bottom: 0;
					background-color: transparent;
					background: none;
					padding-bottom: 6px;
					border-bottom: 2px solid #b6b6b6;
					a{
						margin: 0; padding: 0; text-align: center;
						font-size: 17px; font-weight: 700; color: #231f2e; text-transform: uppercase;
						border-radius: 0px;
						padding-bottom: 7px;
						border-bottom: 4px solid transparent;
					}	
				}
				li:focus,
				li:hover,
				li.active{
					border-bottom: 2px solid transparent;
					a{
						border: 0px;
						border-bottom: 4px solid #235b8f;
						background-color: transparent; background: none;
					}
				}
			}
			#about{
				background-color: transparent !important;
			}
			
			.tab-content{
				text-align: left;
				background: none; 
				background-color: transparent;
				margin-bottom: 2em;
				p, h4{
					margin-bottom: 25px;
					font-size: 18px; font-weight: 700; color: #000; line-height: normal;
				}
				p{
					font-weight: 300;
				}
				ul{
					margin: 0; padding: 0;
					list-style: square; 
					list-style-type: square;
					padding-left: 20px;
					li{
						float: left; width: 33%;
						list-style: square;
						margin-bottom: 25px; padding: 0;
						font-size: 18px; font-weight: 300; color: #000; line-height: normal;		
					}
				}
				.maps_info{
					p{
						font-size: 14px; font-weight: 400; color: #000; line-height: 1.5;
						margin-bottom: 25px;

						font-size: 18px; line-height: 1.7;
						a{
							font-size: 18px; font-weight: 400; color: #000;
						}
						a:focus,
						a:hover{
							text-decoration: underline;
						}
					}
				}

				.list_gallery_default.video,
				.list_gallery_default{
					.items{
						max-width: 210px; margin: 0;
						margin-bottom: 30px;
						.pict{
							img{
								border: 4px solid #fff;
								margin-bottom: 0;
								-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
								-moz-box-shadow:    1px 1px 5px 0px rgba(0, 0, 0, 0.5);
								box-shadow:         1px 1px 5px 0px rgba(0, 0, 0, 0.5);
							}
						}
						span.titles{
							margin-bottom: 0; display: block; padding-left: 10px;
							font-size: 16px; font-weight:400; color: #000; line-height: normal;
						}
					}
				}
				// end gallery default
				.list_gallery_default.video{
					// margin: 0 -15px;
					.items{
						max-width: inherit;
						padding: 0 0.8em; height: 265px; overflow: hidden;
					}
					// .items.first{
					// 	padding-left: 0;
					// }
					// .items.last{
					// 	padding-right: 0;
					// }
				}
				
				.list_blog_default{
					margin-bottom: 0;
					.items{
						clear: both; margin-bottom: 1.5em;
						.pict{
							img{
								border: 4px solid #fff;
								margin-bottom: 0;
								-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
								-moz-box-shadow:    1px 1px 5px 0px rgba(0, 0, 0, 0.5);
								box-shadow:         1px 1px 5px 0px rgba(0, 0, 0, 0.5);
							}
						}
						.description{
							span.titles{
								margin-bottom: 0; display: block; padding-left: 0px;
								font-size: 18px; font-weight:400; color: #000; line-height: normal;
							}
							p{
								font-size: 16px;
								margin-bottom: 23px;
							}
							a.link_more{
								text-decoration: none;
								font-size: 16px; font-weight:300; color: #000; line-height: normal;
							}
							a.link_more:focus,
							a.link_more:hover{
								text-decoration: none; font-weight: 700;
							}
						}
					}
				}
				// end blogs default
				
				.blocks_review_surgeonsDetails{
					h5{
						clear: both;
						margin-bottom: 20px;
						font-size: 22px; font-weight: 300; color: #000; line-height: normal;
					}
					.ratings_top{
						clear: both;
						margin: 0;
						padding: 0;
						.ls{
							clear: both;
							margin-bottom: 6px;
							font-size: 17px; font-weight: 300; color: #000; line-height: normal;
							i.fa{
								font-size: 16px; color: #ffb516;
							}
						}
					}
					.filters{
						font-size: 15px; font-weight: 400; color: #4ba8c9; line-height: normal;
						p{
							font-size: 15px; font-weight: 400; color: #4ba8c9; line-height: normal;
							a{
								font-size: 15px; font-weight: 400; color: #4ba8c9; line-height: normal; text-decoration: none;
							}
							a.active,
							a:hover,
							a:focus{
								text-decoration: none; color: #000;
							}
						}						
					}
					.listing_default_reviews{
						clear: both;	
						.items{
							clear: both; margin: 0; padding: 0;
							padding-bottom: 8px;
							border-bottom: 2px solid #909090;
							margin-bottom: 15px;
							span.top_nstar{
								display: block; margin: 0;
								font-size: 16px; font-weight: 300; color: #000; line-height: normal;
								i.fa{
									font-size: 16px; color: #ffb516;
								}
							}
							span.titles_nm{
								display: block; margin: 0;
								font-size: 18px; font-weight: 700; color: #4ba8cc; line-height: normal;
							}
							span.monts{
								display: block; margin: 0;
								font-size: 13px; font-weight: 300; color: #000; line-height: normal;
							}
							p{
								margin: 0; padding: 0;
								line-height: 1.5;
								font-size: 15px; font-weight: 300; color: #000;
							}
						}
					}
				}
				// end tab reviews
			}
		}
		.sBox_surgeons_details.no_spec_6{
			ul.nav.nav-tabs{
				li{
					width: 16.6%;
				}
			}
		}
		.sBox_surgeons_details.no_spec_5{
			ul.nav.nav-tabs{
				li{
					width: 20%;
				}
			}
		}
	}
}

.mw1000{
	max-width: 1000px;
}
.page_products{
	.box_listing_productslanding{
		.items{
			clear: both;
			margin-bottom: 70px;
			h3.titles{
				margin: 0; 
				padding: 0;
				line-height: normal;
				font-size: 35px; font-weight: 700; color: #535252;
				margin-bottom: 35px;
			}
			.middle_products_desc{
				clear: both;
				.big_picture{
					img{
						margin-bottom: 0;
					}
				}
				.thumb_picture{
					float: right; margin: 0;
					ul{
						margin: 0px; padding: 0px;
						li{
							max-width: 232px; height: 170px;
							margin: 0; padding: 0;
							margin-bottom: 18px;
							a{}
							a:focus,
							a:hover{
								img{
									opacity: 0.9;
								}
							}
							img{
								margin-bottom: 0;
							}
						}
					}
				}
				p{
					font-size: 18px; font-weight: 300; color: #000;
				}
				a.back_purple_defaults_tl{
					width: 232px;
					height: 40px; padding-top: 10px;
					background-size: 100% 100%; 
				}
			}
		}
		.items.last{
			margin-bottom: 20px;
		}
	}
	// end box listingproducts
	
	.box_listing_products_listdata{
			margin-right: -15px;
			.items{
				background: #fff;
				max-width: 403px;
				height: 442px;
				margin-bottom: 25px;
				.picture{
					padding-top: 10px;
					max-height: 273px; 
					height: 273px;
					overflow: hidden;
					display: table;
					width: 100%;
					text-align: center;
					img{
						margin-bottom: 0;
					}
					a{
						display: table-cell;
						vertical-align: middle;
					}
				}
				.desc{
					padding: 15px 15px 0;
					a:focus,
					a:hover{
						text-decoration: none;
						span{
							text-decoration: none; font-weight: 400;
						}
					}
					span.title{
						margin: 0; padding: 0; 
						margin-bottom: 30px;
						font-size: 18px; font-weight: 300; color: #000; line-height: 1.3;
					}
					span.price{
						margin: 0; padding: 0; margin-bottom: 0px;
						font-size: 16px; font-weight: 700; color: #000; line-height: 1;
					}
				}
			}
	}
	// end box listing_products
	
	.outers_page_detail_product{
		.tops{
			clear: both;
			padding-bottom: 10px;
			border-bottom: 1px solid #b7b7b7;
			margin-bottom: 30px;
			.n_breadcrumbs{
				text-align: left;
				margin-bottom: 0;
				ol.breadcrumb{
					margin: 0;
					padding: 0;
					background: none;
					li{
						text-decoration: none;
						text-transform: uppercase;
						font-size: 18px; 
						font-weight: 700; 
						color: #868688;
						a{
							text-decoration: none;
							text-transform: uppercase;
							font-size: 18px; 
							font-weight: 700; 
							color: #868688;	
						}
					}
					li.active{
						color: #231f2e;
					}
				}
				.breadcrumb>li+li:before {
				    padding: 0 5px;
				    color: #aeadaa;
				}
			}
			.backs_btn_product{
				a{
					font-size: 18px; font-weight: 700; color: #231f2e;
					text-decoration: none;
				}
				a:focus,
				a:hover{
					text-decoration: none; color: #000;
				}
			}
		}
		.middle{
			clear: both;

			.details_product_box_content{
				.picture{
					max-width: 638px;
					background-color: #fff;
					max-height: 555px;
					height: 555px;
					overflow: hidden;

					.ds_table{
						display: table;
						width: 100%;
						text-align: center;
						height: 100%;
						.ins_table{
							display: table-cell;
							vertical-align: middle;
							text-align: center;
							width: 100%; height: 100%;
						}
					}
					img{
						margin: 0 auto; margin-bottom: 0;
					}
				}
				.description{
					text-align: left;
					padding-left: 32px;
					padding-bottom: 2em;
					h4.titles{
						margin: 0; padding: 0; line-height: 1;
						font-size: 25px; font-weight: 400; color: #231f2e;
						margin-bottom: 20px;
					}
					form{
						margin: 0;
						margin-bottom: 0;
						input[type=number]{
							width: 106px; height: 40px;
							border: 1px solid #909090;
							border-radius: 5px;
							background-color: transparent;
							text-align: center;
							font-size: 16px; font-weight: 400; color: #000;
						}
						button.btns_purple_cart.back_purple_defaults_tl{
							width: 177px;
							background-size: 100% 100%;
							display: inline-block;
							
							text-align: center; padding-top: 5px; text-transform: uppercase;
							font-size: 20px; font-weight: 700; color: #fff;
						}
						button.btns_purple_cart.back_purple_defaults_tl:hover,
						button.btns_purple_cart.back_purple_defaults_tl:focus{
							color: #f5f5f5;
						}
					}
					.child_desription_product{
						table{
							tr{
								td{
									padding-left: 0; vertical-align: middle; display: inline-block;
									font-size: 18px; font-weight: 300; color: #000;
									b,strong{
										font-size: 18px; font-weight: 400; color: #000;
									}
								}
								td:first-child{
									width: 97px;
								}
							}
						}
					}
					p{
						margin: 0; padding: 0; line-height: 1.5;
						margin-bottom: 25px;
						font-size: 18px; font-weight: 300; color: #000;
						strong,b{
							font-weight: 700;
						}
					}
				}
			}
			// end detail product box
		}
	}
	// end page detail product
}

.inside_contact_page{
	.left_content{
		clear: both;
		p{
			text-align: left;
			margin: 0; padding: 0; line-height: 1.5; margin-bottom: 25px;
			font-size: 16px; font-weight: 400; color: #747474;
			strong,b{
				font-weight: 700;
			}
			span{
				display: block; margin-bottom: 0;
				margin: 0px !important; clear: both;
				text-transform: uppercase;
				font-size: 20px; font-weight: 700; color: #231f2e;	
			}
		}
	}
	.rights_content{
		clear: both;
		border-left: 2px solid #989898;
		.sBox_contact_form{
			clear: both;
			ul.nav.nav-tabs{
				// display: flex;
				margin-bottom: 0; margin: 0;
				padding: 0;
				margin-bottom: 40px;
				li{
					width: 50%; display: inline-block;
					margin: 0;
					height: 35px;
					margin-bottom: 0;
					background-color: transparent;
					background: none;
					padding-bottom: 6px;
					border-bottom: 2px solid #b6b6b6;
					a{
						margin: 0; padding: 0; text-align: center;
						font-size: 17px; font-weight: 700; color: #231f2e; text-transform: uppercase;
						border-radius: 0px;
						padding-bottom: 7px;
						border-bottom: 4px solid transparent;
					}	
				}
				li:focus,
				li:hover,
				li.active{
					border-bottom: 2px solid transparent;
					a{
						border: 0px;
						border-bottom: 4px solid #235b8f;
						background-color: transparent; background: none;
					}
				}
			}
			
			#about{
				background-color: transparent !important;
			}
			
			.tab-content{
				text-align: left;
				background: none; background-color: transparent;
				margin-bottom: 2em;
				p{
					margin-bottom: 25px;
					font-size: 18px; font-weight: 700; color: #000; line-height: normal;
				}
				p{
					font-weight: 300;
				}
				// end tab content

				.contact_form{
					form{
						margin-bottom: 0; margin: 0;
						label{
							font-size: 18px; font-weight: 300; color: #000;
						}
						.form-group{
							margin-bottom: 20px;
						}
						select,
						input[type=email],
						input[type=text]{
							height: 35px; width: 100%;
							border-radius: 0px;
							border: 0px;
						}
						textarea{
							border-radius: 0px;
							border: 0px;
							width: 100%;
							max-height: 115px;
						}
						button.submits_form{
							background: none; background-color: transparent;
							border: 0px; box-shadow: none; border-radius: 0;

							background: url(../images/back_btn_submit_purplet2.png) no-repeat;
							width: 276px; height: 40px;
						}
					}
				}
			}
		}
	}
}


.pagination>li>a, 
.pagination>li>span{
	color: #235b8f;
}

.middle-bottom_surgeonsindex{
	margin-top: -313px; 
	left: 0px;
}
 
@import url("styles-member.css");


// ---------------------------------- list order -----------------------------
.contn-gold{

	.table_wrapper {
	    margin: 10px 0;
	    position: relative;
	}
	.paymentwrp {
	    background: #bcf5cd none repeat scroll 0 0;
	    border: 1px solid #bbb;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 0 #fff inset;
	    line-height: 2em;
	    margin-bottom: 10px;
	    padding: 5px;
	}
	.ml5 {
	    margin-left: 5px;
	}
	.fwb {
	    font-weight: 700;
	}
	.mr10 {
	    margin-right: 10px;
	}
	.fs11 {
	    font-size: 11px;
	}
	.fs16 {
	    font-size: 16px;
	}
	.price {
	    color: #f60;
	    font-family: avgardd,Arial,Georgia;
	}
	.paymentinfo {
	    border-top: 1px solid #ddd;
	    margin-top: 5px;
	    padding-top: 5px;
	}
	.btw.yellow {
	    background-color: #ffc834;
	    background-position: 0 -120px;
	    border-color: #e5bc49;
	}
	.mr2 {
	    margin-right: 2px;
	}
	.btw {
	    background: #e2e2e2 url("../images/btw.png") repeat-x scroll 0 0;
	    border: 1px solid #b2b2b2;
	    border-radius: 2px;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	    box-sizing: border-box;
	    color: #555;
	    cursor: pointer;
	    display: inline-block;
	    font: 700 1em/2 arial,tahoma,"microsoft yahei",simsun,Helvetica,sans-serif;
	    max-height: 40px;
	    overflow: hidden;
	    position: relative;
	    text-decoration: none;
	    text-shadow: 0 1px 0 #fff;
	    vertical-align: middle;
	    white-space: nowrap;
	}
	.btw.yellow span {
	    border-color: #fff1bd #ffd35d #ffd35d #fff1bd;
	}
	.btw.yellow:hover {
	    border-color: #c49a26;
	    color: #000;
	}
	.orderA {
	    background: #fff none repeat scroll 0 0;
	    margin-bottom: 0;
	    margin-top: 5px;
	}
	.orderA p.lh14 {
	    display: inline-block;
	    margin-left: 10px;
	}
	.orderA a {
	    color: #3b5998;
	    text-decoration: none;
	}
	.orderA .pid {
	    width: 50px;
	}
	.orderA .wsnw {
	    width: 100px;
	}
	.orderA .qty {
	    text-align: center;
	    width: 100px;
	}
	.btw span {
	    -moz-border-bottom-colors: none;
	    -moz-border-left-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-top-colors: none;
	    border-color: #fff #eee #eee #fff;
	    border-image: none;
	    border-radius: 2px;
	    border-style: solid;
	    border-width: 1px;
	    display: block;
	    padding: 0 1.5em;
	}
	.btw.yellow {
	    color: #66582b;
	    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	}
	.in-cont-modal-detailorder .status-progress {
	    background-color: #e7e7e7;
	    height: 34px;
	    width: 100%;
	}
	.in-cont-modal-detailorder .status-progress ol.breadcrumb {
	    background-color: #e7e7e7;
	    border-radius: 5px;
	    margin: 0;
	    padding: 0;
	}
	.in-cont-modal-detailorder .status-progress ol.breadcrumb > li + li::before {
	    content: "";
	    padding: 0;
	}
	.in-cont-modal-detailorder .status-progress .col-sm-3, .in-cont-modal-detailorder .status-progress ol.breadcrumb li {
	    background-color: #e7e7e7;
	    color: #474747;
	    float: left;
	    padding: 8px 14px;
	}
	.in-cont-modal-detailorder .status-progress .col-sm-3.done, .in-cont-modal-detailorder .status-progress ol.breadcrumb li.done {
	    background-color: #87c63d;
	}
	.in-cont-modal-detailorder .status-progress .col-sm-3.process, .in-cont-modal-detailorder .status-progress ol.breadcrumb li.process {
	    background-color: #ffd55e;
	}
	.in-cont-modal-detailorder .status-progress .padding-0 {
	    font-size: 11px;
	    padding: 10px;
	}
	.in-cont-modal-detailorder .status-progress ol.breadcrumb li a {
	    color: #474747;
	}
	.in-cont-modal-detailorder span.date-publish {
	    color: #595959;
	    font-size: 9px;
	}
	.in-cont-modal-detailorder .outer-data-tabl td {
	    color: #3e3e3e;
	    font-size: 13px;
	}
}

@import 'all_new.less';